In [11]:
import pandas as pd
import numpy as np
import h2o

In [12]:
h2o.init()
model = h2o.get_model("DeepLearning_model_python_1449010572752_93")

--------------------------  -----------------------------------------------------
H2O cluster uptime:         3 days 10 hours 30 minutes 21 seconds 60 milliseconds
H2O cluster version:        3.0.1.7
H2O cluster name:           Alimantu
H2O cluster total nodes:    1
H2O cluster total memory:   3.73 GB
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster healthy:        True
H2O Connection ip:          127.0.0.1
H2O Connection port:        54321
--------------------------  -----------------------------------------------------

In [13]:
test = pd.read_csv('Data/ready_test_1.csv')
features = ['Open', 'Store', 'DayOfWeek', 'YearWeek', 'Promo', 'Day',
       'Month', 'Year', 'SchoolHoliday', 'LogCompDist', 'StoreA', 'StoreB',
       'StoreC', 'StoreD', 'AssortA', 'AssortB', 'AssortC']
#h2o.init(start_h2o = True)
#h2o_train = h2o.upload_file(path = "/Users/Alimantu/Documents/Python/RossmanStoreSales/Data/ready_data_1.csv")

# h2o_rf = h2o.deeplearning(x = h2o_train[features],
#                           y = h2o_train["LogSales"],
#                           training_frame=h2o_train,
#                          )


h2o_test = h2o.upload_file(path = "/Users/Alimantu/Documents/Python/RossmanStoreSales/Data/ready_test_1.csv")
predictions = model.predict(h2o_test[features])
h2o_submission = pd.DataFrame(np.arange(1, len(test) + 1), columns=["Id"])
h2o_submission["Sales"] = 0.985 * np.exp(predictions.as_data_frame().values) - 1
#h2o_submission["Sales"] = np.exp(predictions.as_data_frame().values) - 1
indices = test.Open == 0
h2o_submission.loc[indices, "Sales"] = 0
indices = h2o_submission.Sales < 0
h2o_submission.loc[indices, "Sales"] = 0
h2o_submission.to_csv("Result/h2o_dl_5_300_wo_hint.csv", index=False)
#h2o_submission.to_csv("Result/h2o_dl_5_200_pz.csv", index=False)

Parse Progress: [##################################################] 100%
Uploaded py14afb997-4de8-4c45-84d7-ca3dac0850d1 into cluster with 41,088 rows and 19 cols

In [ ]:
h2o_submission.head()

In [ ]:
h2o_submission.head()

In [ ]:
train = pd.read_csv('Data/ready_data_cleared_zero_sales_1.csv')

In [ ]:
experiment = train[train.Store == 1]

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
experiment.head()

In [ ]:
range(1, 12)

In [ ]:
def get_shop_mean(x):
    std = range(1,13)
    mean = range(1,13)
    for i in range(1, 13):
        std[i - 1] = np.std(x[x.Month == i].LogSales)
        mean[i - 1] = np.mean(x[x.Month == i].LogSales)
    return std, mean

In [ ]:
get_shop_mean(experiment)

In [ ]:
def check_outlier(x):
    if (x.LogSales < 8.0 or x.LogSales > 9.0):
        return False
    return True

In [ ]:
check_outlier(experiment.loc[0, :])

In [ ]:
one = pd.read_csv("Goose_XGBoost.csv")
one.Sales = 0.985 * one.Sales
one.to_csv("Goose_XGBoost_hint.csv", index=False)

In [3]:
train_tmp = pd.read_csv("Data/train.csv")
store_tmp = pd.read_csv("Data/store.csv")

/usr/local/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [4]:
train_tmp.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [5]:
store_tmp.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270,9,2008,0,NaN,NaN,NaN
1,2,a,a,570,11,2007,1,13,2010,"Jan,Apr,Jul,Oct"
2,3,a,a,14130,12,2006,1,14,2011,"Jan,Apr,Jul,Oct"
3,4,c,c,620,9,2009,0,NaN,NaN,NaN
4,5,a,a,29910,4,2015,0,NaN,NaN,NaN

In [2]:
compl_train = pd.read_csv("Data/ready_data_1.csv")
compl_train.head()

,Open,Promo,Store,DayOfWeek,CompDist,Day,Month,Year,LogCompDist,Sales,StoreA,StoreB,StoreC,StoreD,AssortA,AssortB,AssortC,LogSales
0,1,1,1,5,1,31,7,2015,7.146772,5263,0,0,1,0,0,0,1,8.568646
1,1,1,2,5,1,31,7,2015,6.345636,6064,1,0,0,0,1,0,0,8.710290
2,1,1,3,5,1,31,7,2015,9.556055,8314,1,0,0,0,1,0,0,9.025816
3,1,1,4,5,1,31,7,2015,6.429719,13995,0,0,1,0,0,0,1,9.546527
4,1,1,5,5,1,31,7,2015,10.305948,4822,1,0,0,0,1,0,0,8.481151